@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Sydney Brockbank";
}

<body>

    <img src="~/img/waterfall.jpg" height="250" />
    <p>In this class, I'm hoping to learn how to best collaborate with team members while creating web applications.</p>
    <p>My top 3 jobs:</p>
    <ul class="jobs">
        <li>1. Web developer</li>
        <li>2. UX/UI designer</li>
        <li>3. App developer</li>
    </ul>

</body>
